
BOOTSTRAP_GITHUB_TOKEN=

BOOTSTRAP_SLACK_WEBHOOK=

BOOTSTRAP_SOPS_AGE_RECIPIENTS=

BOOTSTRAP_GHCR_USERNAME=

BOOTSTRAP_GHCR_TOKEN=

BOOTSTRAP_KUBECONFIG_MODE=export

BOOTSTRAP_KUBECONFIG_EXPORT_PATH=