*.tar.gz
*.zip
kubeseal
cilium
argocd

.kube/
*.log
logs/*.log

*.pem
!kubernetes/infrastructure/sealed-secrets-cert.pem

.vault_pass
*.vault_pass
.vault_pass-dev
.vault_pass-prod
ansible/inventory/group_vars/all/vault.yml
ansible/inventory/dev/group_vars/all/vault.yml
ansible/inventory/prod/group_vars/all/vault.yml

sealed-secrets-master-key.yaml

passwords-*-temp.txt
passwords-temp.txt

.env.bootstrap.local


*.code-workspace

__pycache__/
*.pyc
.venv/
